/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

nav {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

.logo h4 {
    color: white;
    margin-left: 1rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

ul li {
    margin: 0 1rem;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

ul li.active a {
    background-color: #ff5733;
    /* Warna berbeda untuk halaman aktif */
    color: white;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.home-content {
    margin: 2rem;
}

section {
    margin: 2rem;
}